[2018-12-15 01:26] Cmac2016 opened #2 "Errors after first project load"
Built and deployed the ffu with no issues.
When I load my application it runs fine the first time.
However when I make a code change and try to redeploy I get the following error:
Severity	Code	Description	Project	File	Line	Suppression State
Error		DEP0100: Please ensure that target device has developer mode enabled. Could not obtain a developer license on 10.0.0.121 due to error 80004005.

Why co

[2018-12-18 01:13] hbeberman commented on #2
I was able to recreate the deployment failure locally. I've filed a bug for it and I will keep this issue updated on the progress.

The audio recording halting once playback halts is a known limitation of the audio driver currently. I'll open an enhancement issue to track improving the audio clocking logic to accomidate both playback and recording independently.

[2018-12-18 02:44] Cmac2016 commented on #2
Thank you.
For the application i am working on the audio is a big issue.
The audio capabilities such as a discreet input and output  was one of the main reasons i migrated my code to the Hummingboard and away from other boards such as PI.

[2018-12-19 04:25] kiwikissling opened #3 "Hummingboard2 fails to boot on custom carrierboard"
I'm running a HummingBoard2 on a custom carrier board. This carrier board is destined to be deployed as an in-car telemetry device, with no user interface. It has no HDMI or audio hardware.

I have the pulled and built December `imx-iotcore` public preview, and this boots fine on a Hummingboard2 Edge. However the boot of the same FFU on the Hummingboard2 on my carrierboard freezes very early on.

[2018-12-19 12:37] dvescovi1 commented on #3
Where did you remove the driver?  at the os level?
Since it is freezing very early I would suspect the issue is more likely in the boot loader or the UEFI init code.
From the dump it looks like the uboot code.

[2018-12-19 12:42] dvescovi1 commented on #3
Also most display drivers are output only (unless it has CEC detection) so even if there is no display attached it does not stall the boot. Things like touch screen circuitry is a different story though.

[2018-12-19 19:13] kiwikissling commented on #3
@dvescovi1 , Thanks for coming back to me on this. Yes, I removed the drivers from HummingBoardEdge_iMX6Q_2GB_DeviceFM.xml and the FFU built fine without them. No touch screen, but Scout does include an on-board, USB-driven cellmodem chip.

One of the puzzling things here is that we were already wrestling with a boot issue on Kayla, but at that time Scout got deep into the boot process, ie well pa

[2018-12-19 22:08] dvescovi1 commented on #3
Yea, you can build it all. Its best to understand the complete boot process as it is quite involved. The documentation is pretty good though. The boot loader can be found at the SolidRun GitHub repo. I like to just remove the uefi file from the SD card and boot it. It should just stay in the boot loader and if you have the serial terminal attached you can play around with all the boot loader comma

[2019-01-03 00:26] hbeberman commented on #2
@Cmac2016 I believe I've found a solution for the app deploy failure.
By default the FFUs have kernel debugging enabled, which is conflicting with the Visual Studio remote debugger.

You can SSH into a fresh install of IoT Core and run the following to disable the kernel debugger:
[code]

You can also remove the line `<Feature>IOT_KD_ON</Feature>` from the TestOEMInput.xml file for your platform,

[2019-01-03 20:59] hbeberman commented on #2
I've found another solution. Instead of disabling kernel debug entirely you can also set the kernel debugger to ignore usermode exceptions using the **/noumex** flag.

[code]

Full documentation on bcdedit /dbgsettings is available [here](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/bcdedit--dbgsettings
).

[2019-01-04 21:17] jordanrh1 commented on #3
It looks like it's freezing in U-Boot when it tries to initialize network. The issues could be related to pin muxing differences or ethernet PHY differences between your carrier and the Hummingboard. My recommendation would be to insert prints into the u-boot code to help narrow down where it's failing. The following resources should be helpful.

[Firmware Boot Documentation](https://github.com/ms

[2019-01-04 22:06] jordanrh1 opened #6 "Ethernet stops working when screen goes off"
Ethernet stops working when the screen goes off. To repro,

[code]

After the screen turns off, ethernet stops working a few seconds afterwards. Logs show that the system has put the device into a low power state.

[code]

It needs to be investigated why the system puts ethernet into a low power state.

Ethernet has also been observed to stop working randomly, possibly due to connected standby tra

[2019-01-05 18:12] Cmac2016 commented on #2
Thank you. I will do a fresh install and try these options.
Are there any side effects of doing this?

[2019-01-10 13:09] UweSteinkohl opened #10 "USB devices get not recognized without external USB Hub"
I am using a KaRo i.mx6DL board on a KaRo standard evaluation kit. I have the problem that USB devices like mouse or keyboard only work, if I connect them via an USB hub.
This happens on the USB host port as well as on the USB OTG. THe USB hub does not need to be powered.

If I login via remote power shell, devcon status reports the following in the case it fails with no hub:
USB\VID_0000&PID_0001

[2019-01-10 18:44] christopherco commented on #10
Hi,

Let's focus first on the USB Host issue. USB OTG failure could be a separate issue altogether.

Port Reset Failed is an early step in the USB device initialization sequence. You also do not get a valid VID/PID, which indicates early device descriptor transfer failure (or we haven't gotten to that stage of USB device initialization yet).

I suspect that the USB device is not getting adequate V

[2019-01-11 09:10] UweSteinkohl commented on #10
Hi,

thank you for your answer.

Yes, this actually was my first thought and I checked the power on VBUS. That was ok (4,9V).
On the other hand I think the VBUS cannot be the problem, because it works perfect with an unpowered hub.

perhaps some effects with the overcurrent? but as far as I can see the overcurrent detection is switched off in the UEFI USBPhy init.

[2019-01-12 01:01] christopherco commented on #10
Thanks for checking VBUS and agree it is not the issue here.

To further isolate the issue, can you check if the USB behavior is reproducible in UEFI shell and in U-Boot shell (both with and without hub)? This data will help determine if the issue is USB power management related or not.

U-boot and UEFI's EHCI driver always operates in D0 powered on state and is generally optimized for simple tran

[2019-01-12 01:09] christopherco commented on #10
Also, as an added update: I'm seeing some USB enumeration anomolies on my i.MX6DL Hummingboard Edge here. Specifically only one of the ports is not enumerating low speed devices unless it is plugged behind a hub. Currently investigating...

[2019-01-14 16:17] UweSteinkohl commented on #10
you are right, I have not seen that. Only low speed devices fail. All my USB sticks, SD card readers etc. work without hub.

I checked it in u-boot. there I have exactly the same results. low speed does only work behind a hub, whereas full speed works directly.

Looking at the register bits of the USBPHYx_CTRLn, I would say a cleared ENUTMILEVEL2 bit would cause the problem. But I am sure this bit

[2019-01-17 22:43] dvescovi1 opened #15 "Firmware build path issue under WSL"
Clean install of WSL on my Windows 10 (build 1809).
Followed firmware build instruction verbatim for HummingBoardEdge_iMX6Q_2GB

following error:
.
.
.
OK
make[2]: Leaving directory '/home/david/edk2/BaseTools/Tests'
make[1]: Leaving directory '/home/david/edk2/BaseTools'
~ ~/imx-iotcore/build/firmware/HummingBoardEdge_iMX6Q_2GB
Loading previous configuration from /home/david/edk2/Conf/BuildEnv.sh

[2019-01-17 22:52] christopherco commented on #15
A couple days ago Tianocore edk2 core removed DefaultExceptionHandlerLibBase.inf and caused a build break across all ARM platforms. They fixed it this morning (https://github.com/tianocore/edk2/commit/00755e1c8019cb073de85dea97737aedc10f352c) but there are some regressions in our edk2-platforms code surrounding this change. I'm currently working on addressing it.

If you want an immediate workarou

[2019-01-18 01:44] christopherco commented on #15
I have root caused the regression to another breaking commit in Tianocore edk2 (https://github.com/tianocore/edk2/commit/2f4a5a9f4c17ed88aaa3114d1e161e42cb80a9bf). From the issue's [Bugzilla](https://bugzilla.tianocore.org/show_bug.cgi?id=1426), this is a known regression and there is a patch which should hopefully be submitted soon.

I've added a PR to imx-edk2-platforms to address the initial De

[2019-01-18 03:25] dvescovi1 commented on #15
thank you. will do.

[2019-01-18 03:25] #15 closed, assigned to christopherco

[2019-01-20 17:34] dvescovi1 opened #16 "firmware build against u-boot vs Solidrun u-boot"
I am seeing several issues with my u-boot firmware (SabreLite) built against the ms-iot\u-boot vs. what was working under the private ms-iot\kayla\SolidRun-u-boot.
Instead of bringing the private \kayla\SolidRun-u-boot to public preview under something like ms-iot\imx-u-boot (which would seem to fit the new folder naming convention) it looks like you started with an older existing u-boot before se

[2019-01-22 17:34] jordanrh1 commented on #16
Hi David,
The ms-iot/u-boot repository is the u-boot repository we'll use going forward. We collected the functionality into a minimal set of patches and applied them to a recent stable release of u-boot. If there were changes in the Solidrun-u-boot repository they will need to be brought over to u-boot.
What is the nature of the issue you're seeing?

[2019-01-23 13:39] dvescovi1 commented on #16
most issues had to do with loading the "uefi.fit" file which was a name change from what they use to use.
Looks like the whole boot script uefi.fit loading was reworked as one of the last commits under SolidRun u-boot. Some other minor issues with config support. I submitted a new pull request to ms-iot/uboot and I have not seen any issues so far. I am concerned if you rebuild the u-boot firmware

[2019-01-23 17:04] jordanrh1 commented on #16
When we make firmware changes we run 'make' in the build/firmware directory which rebuilds all the platforms listed in the Makefile. It looks like SabreLite is not in the Makefile so that could explain why there's a break. It may have been deliberately removed. @hbeberman do you know the status of our SabreLite support?

[2019-01-23 19:36] hbeberman commented on #16
I've merged pull https://github.com/ms-iot/u-boot/pull/3. With this U-Boot change I was able to successfully build the SabreLite firmware using imx-iotcore.

@dvescovi1 Please rebuild and test the firmware by running `make` in /build/firmware/SabreLite_iMX6Q_1GB. Once you've tested the firmware you can stage a commit with the updated binaries by running `make update-ffu` in /build/firmware/SabreLi

[2019-01-23 19:58] dvescovi1 commented on #16
Sounds good. I am preparing the PR to ms-iot/iotcore for the full SabreLite support and everything looks good for the firmware so far.
My concern was that maybe some of the "other" platforms may have the same issue if someone tries to rebuild the firmware as it appears ms-iot/u-boot repo looks like it was slightly behind the ms-iot/SolidRun u-boot else it would have picked up my last SolidRun u-bo

[2019-01-24 10:18] #16 closed, assigned to hbeberman

[2019-01-25 20:50] NovTechEng opened #20 "Completed CoreExitBootServices then hanging"
Hi,
I am trying to get Novtech's iMX7 Meerkat96 board up and running on Win10IoT Core.  I have done my best to follow the iMX porting guide, and as far as I can tell, the board boots all the way up through the CoreExitBootServices() function in the UEFI, but then crashes.

I suspect the UEFI is close to handing over control to windows but this is failing for some reason?

I was trying to track dow

[2019-01-25 21:30] christopherco commented on #20
Hi,
There was a very recent tianocore edk2 issue that causes a similar symptom (resolved in this commit: https://github.com/tianocore/edk2/commit/eb76b76218d5bac867414e2ff6dd09c6e7c700dd).

Which commit IDs are you using for tianocore/edk2 and ms-iot/imx-edk2-platforms? And can you try the latest edk2 master just to be sure you are not hitting the same issue.

[2019-01-28 15:06] NovTechEng commented on #20
Alright I went ahead and pulled the latest code for both edk2 and edk2 platforms.  Still seem to be having the same problem.  Here are the commits I am currently using:

commit for edk2: 83463154afc699c8116a42df9184b034056c7b33
commit for edk2 platforms: 8d55f2e88e4a5dda1edbc152bdd7b937907bb9fb

[2019-01-28 16:01] NovTechEng commented on #20
Correct me if I am on the wrong track, but I was searching around in the UEFI shell and found this.

Shell> bcfg boot dump -v
Option: 00. Variable: Boot0000
  Desc    - UiApp
  DevPath - MemoryMapped(0xB,0x9FAC3000,0x9FD49F27)/FvFile(462CAA21-7614-4503-83
6E-8AB6F4662331)
  Optional- N
Option: 01. Variable: Boot0001
  Desc    - UEFI Misc Device
  DevPath - VenHw(AAFB8DAA-7340-43AC-8D49-0CCE1481248

[2019-01-29 21:31] christopherco commented on #20
Hmm, your Boot0001 seems to be the same on our iMX7 Compulab reference.
[code]
It looks like you do not have an eMMC on board. Did you make sure to configure your UEFI build to disable security during build? https://github.com/ms-iot/imx-iotcore/blob/8417fde5bf3b79cda927bfcb7d84cf5b15d337dc/build/firmware/ClSomImx7_iMX7D_1GB/Makefile#L7

Our security TA requires that RPMB is present, which require

[2019-01-30 14:10] NovTechEng commented on #20
Yes I have that line in my Makefile.  I was stuck at that issue for a little while but since adding that line I seem to have moved past it.  Could lack of eMMC still be causing an issue?

[2019-01-30 16:39] jordanrh1 commented on #20
It looks like it's loading bootmgr. Can you try attaching the boot debugger and see how far it gets in bootmgr?

Insert the SD card into your PC and enable boot debugging (where X is the drive letter of the EFIESP partition):

[code]

Then, start WinDBG:
[code]

In WinDBG, hit Ctrl+Alt+K to cycle initial break.

Then, power on the board. If bootmgr does in fact start, you should see the debugger b

[2019-02-01 15:03] NovTechEng commented on #20
Alright I tried using the debugger and I am still getting no output.  The debugger displays "Debuggee not connected."  As far as I can tell I have everything set up correctly in the DSC file but I will attach it to this comment.  Is the "Debuggee not connected" due to a mistake in my setup somehow or an indication that bootmgr is not starting?

[Meerkat96_iMX7D_512M.dsc.txt](https://github.com/ms-

[2019-02-01 18:31] jordanrh1 commented on #20
It looks like your console UART is UART6. 0x30A8000 is the base address of UART6.

[code]

It also looks like we never implemented support for `PcdKdUartInstance` on IMX7. It was hardcoded to use UART1, so `PcdKdUartInstance` has no effect. I've sent a pull request to fix this. #ms-iot/imx-edk2-platforms/pull/12

Which UART are you trying to use for the kernel debugger? The way you have it set up

[2019-02-01 20:09] NovTechEng commented on #20
Alright, that helped, now I am running everything through UART1.  Now i get the following output from the debugger
[windbgoutput.txt](https://github.com/ms-iot/imx-iotcore/files/2823185/windbgoutput.txt)

[2019-02-01 20:13] jordanrh1 commented on #20
Awesome! It broke into the debugger as expected. Now type 'g' in the windbg console and see what happens. There are basically 3 possible outcomes:
1. It runs successfully. The next thing to debug is winload.
1. It crashes. The debugger will break in and allow you to inspect the failure.
1. Silence. It's failing silently somewhere in bootmgr. You have to narrow down where it's failing by setting br

[2019-02-01 21:15] NovTechEng commented on #20
It looks like a silent failure right now.  I will continue looking into it.  The board designer believes that the problem could be caused by the Meerkat's low amount of memory.  He was wondering if there was a way he could have a call with you. @jordanrh1
Thanks

[2019-02-02 10:33] engicam-support opened #25 "Problem firmware_fit.merged SabreLite"
Hi,
I'm working on Windows IoT Core for the Sabrelite carrier.
I have a problem for the writing firmware_fit.merged in the NOR flash of Sabrelite.
For the creation firmware_fit.merged I saw this link https://github.com/ms-iot/imx-iotcore.
For writing the firmware in NOR flash, I followed this guide https://github.com/ms-iot/imx-iotcore/blob/public_preview/build/board/SabreLite_iMX6Q_1GB/README.md.

[2019-02-02 10:35] #25 closed, assigned to nobody

[2019-02-06 14:25] NovTechEng commented on #20
Stepping through the code, It seems to crash in the next step after BOOTARM!BmMain+0x7ee

[2019-02-06 17:57] jordanrh1 commented on #20
It looks like `BmMain+0x7ee` corresponds to a call to `BmpLaunchBootEntry`. The first boot entry that bootmgr launches is mobilestartup.efi. Mobilestartup.efi runs, then returns to bootmgr. Bootmgr then launches winload. Mobilestartup.efi writes data back to disk which is a potential source for errors.

Let’s try enabling boot debugging for mobilestartup.efi and see if it gets that far.

bcdedit /

[2019-02-06 18:10] jordanrh1 commented on #20
Also, it would be helpful if you could send pull requests for each of the repositories you've made changes in (u-boot, imx-edk2-platforms, optee_os, imx-iotcore).

[2019-02-06 18:43] NovTechEng commented on #20
It is now crashing after mobilestartup!MobileStartupMain+0x236

[2019-02-06 18:56] NovTechEng commented on #20
Ok I think it is running sucessfully through mobilestartup and winload.  It appears to hang on nt

[2019-02-06 19:31] NovTechEng commented on #20
The last section of my debugger output (cant seem to get past this point):

************* Path validation summary **************
Response                         Time (ms)     Location
Deferred                                       srv*
Symbol search path is: srv*
Executable search path is:
Windows 10 Kernel Version 17763 MP (1 procs) Free ARM (NT) Thumb-2
Built by: 17763.107.armfre.rs5_release_sv

[2019-02-06 19:41] jordanrh1 commented on #20
That's great, it is in fact reaching the NT kernel.

Did you make any changes or did it just work randomly? If it's random this suggests it could be an issue with the memory map.

[2019-02-06 19:44] NovTechEng commented on #20
I think I am now making it this far because I recently recompiled the ffu from the most recent Compulab code (it was previously pretty out of date).

[2019-02-06 21:07] NovTechEng commented on #20
Alright, I removed some entries from the acpi table.  In windb I am now in nt!KiIdleLoop.  Does this mean I have completed the boot process?

[2019-02-06 21:09] jordanrh1 commented on #20
Possibly. What is the output of
[code]

[2019-02-06 21:17] NovTechEng commented on #20
here it is:
https://pastebin.com/SaCZzdvh

I did cut the output it short but i figure that would be fine

[2019-02-06 21:44] jordanrh1 commented on #20
Yep, looks like it booted. IotCoreDefaultApp.exe is running.

The next step is to add devices one-by-one into the ACPI tables.

If the system becomes unresponsive (unable to break in with debugger), that usually means the system has tried to access a register in a clock gated block. In U-Boot you should ungate the clocks you need.

[2019-02-06 21:47] NovTechEng commented on #20
Awesome! I will go ahead and mark this issue as closed.
Thanks for all the help.

[2019-02-06 21:47] #20 closed, assigned to christopherco

[2019-02-06 22:51] #6 closed, assigned to mvarecha

[2019-02-13 09:01] tmengicam opened #28 "Build EVK_iMX6ULL_512MB"
We would like to build the Windows IoT Core for EVK_iMX6ULL_512MB. We have started to build the bootloader but the defconfig (imx6ull_14x14_evk_nt_defconfig) in the Makefile (imx-iotcore/build/firmware/EVK_iMX6ULL_512MB/Makefile) in ms-iot/u-boot repository. Maybe the defconfig get lost in the migration from private preview to public preview.
Does anybody try the EVK_iMX6ULL_512MB?
Thank you.

Bes

[2019-02-13 14:21] dvescovi1 opened #29 "i.MX8 support"

[2019-02-13 14:25] dvescovi1 commented on #29
What is the status of i.MX8 support? I see some remnants.
Looking for updated ETA.
Willing to work on this, just wondering what repos the firmware was built from? (edk/uefi/u-boot etc.)

[2019-02-13 21:09] christopherco commented on #28
@henie did the initial EVK_iMX6ULL_512MB bringup. Do you happen to know?

[2019-02-13 23:12] hbeberman commented on #29
We currently have a board package for NXP's i.MX8M EVK checked into the tree https://github.com/ms-iot/imx-iotcore/tree/public_preview/build/board/NXPEVK_iMX8M_4GB.

We're working to publish the new repositories used to build this firmware along with updated build instructions within the next few weeks.

[2019-02-14 13:49] dvescovi1 commented on #29
I was able to build and flash an ARM64 SD card image using the prebuilt firmware.
U-boot boots ok but it stall in uefi:

ProtectUefiImageCommon - 0xFC485CC0

  - 0x00000000FCE6C000 - 0x0000000000016000

SetUefiImageMemoryAttributes - 0x00000000FCE6C000 - 0x0000000000001000 (0x000000
0000004008)

SetUefiImageMemoryAttributes - 0x00000000FCE6D000 - 0x0000000000012000 (0x000000
0000020008)

SetUefiIm

[2019-02-14 19:12] hbeberman commented on #29
It looks like UEFI is failing to find the RPMB protocol because the MMC driver didn't register one. The fTPM has a hard dependency on RPMB as its secure storage device, and RPMB is an eMMC only feature.

What device are you running the FFU on?
Does it have an eMMC?

[2019-02-15 01:04] dvescovi1 commented on #29
this is the standard NXP i.MX8M EVK.
Right out of the box. Just changed jumpers to boot from uSD slot.
I am booting from uSD card. Does it have to be programmed in to eMMC flash?

[2019-02-15 19:00] neilsh-msft commented on #29
No it doesn't need to be programmed to eMMC flash.  The iMX8M EVK board we're using has SW802 set to '1 0', and SW801 set to '1 1 0 0' for SD card boot.  The part number of the board we're using is 170-29615 REV B2 as etched in copper on the underside of the board, but has a sticker SCH-29615 REV B3.

[2019-02-15 21:44] dvescovi1 commented on #29
I rebased and generated image from repo public_preview branch as of 2-13.
I have rev SCH-29615 B4.
switches set the same.

[2019-02-16 09:05] dvescovi1 commented on #29
also have 700-29615 REV A2 marking.

[2019-02-17 13:29] dvescovi1 commented on #29
I was going to attempt to build a "non-secure" version of uefi.fit (for the time being) to bypass this issue but it appears this uefi was generated differently. Looks like it used project mu. Not having much luck. I do not see any "platform" specific code in mu. Any advice would be appreciated.

[2019-02-18 17:56] jordanrh1 opened #31 "SYSTEM_THREAD_EXCEPTION_NOT_HANDLED on ClSomImx7"
Some time after the first boot, Compulab IMX7 enters a reboot loop where it bugchecks just after the Windows logo appears. The bugcheck is `SYSTEM_THREAD_EXCEPTION_NOT_HANDLED`. It occurs after bootmgr and before the debugger attaches for NT kernel, which probably means it's happening in winload. I have been unable to attach the boot debugger to winload, so unable to gather more information. Will

[2019-02-18 22:24] jordanrh1 commented on #31
It was booting into UpdateOS, and UpdateOS was crashing. Enabled kernel debugging of UpdateOS with:

[code]

You can enumerate all boot entries with:
[code]

The bugcheck is:
[code]

mx6pep should not be loaded on IMX7!

[2019-02-19 00:22] jordanrh1 commented on #31
It also looks like HalExtiMX7Timers is not present, which later causes a bugcheck when it tries to go into low power mode.

[2019-02-19 01:30] jordanrh1 commented on #31
@hbeberman @neilsh-msft  It looks like the wrong UpdateOS is getting picked up for IMX7. An IMX6 UpdateOS is being included in IMX7 images. Can one of you take a look?

[2019-02-20 01:30] hbeberman commented on #31
Issue should be resolved by pull https://github.com/ms-iot/imx-iotcore/pull/33. The board specific cabs changed directories and the override to grab the correct UpdateOS cab was looking in the wrong location.
i.MX7 FFUs now contain the correct UpdateOS drivers.

[2019-02-20 01:30] #31 closed, assigned to jordanrh1

[2019-02-22 13:54] dvescovi1 commented on #29
@neilsh-msft Was able to rebuild and boot a "non-secure" version uefi.fit on i.MX8MQ on EVK.
working so far.

[2019-02-22 13:54] #29 closed, assigned to hbeberman

[2019-02-25 16:17] tmengicam commented on #28
Any update? @henie did you try the EVK_iMX6ULL_512MB?

[2019-02-26 17:49] dvescovi1 opened #37 "u-boot rebuild ARM64 i.mx8 evk"

[2019-02-26 17:54] dvescovi1 commented on #37
I was attempting to rebuild u-boot for the i.MX8MQ per the new re-build instructions.
I am using WSL.
I can clone and configure no problem but rebuild stalls at the SPL.
I think we have seen something similar in the past when we rebuilt this way.
I don't recall just what the issue was ...something with WSL name path support possibly?
Anyone recall?

here is dump:
...
  LD      spl/drivers/usb/dwc3

[2019-02-27 11:32] awietholter opened #38 "Problem to build imx-iotcore and problem to load uefi.fit"
Hello, I have two problems:
First case: build imx-iotcore
Second case: Run uefi.fit.

**First case:**
I'm using a proprietary board, based on the Sabre_iMX6Q_1GB platform.
I made the necessary changes to u-boot as indicated in the porting-imx.md document.
https://github.com/ms-iot/project-kayla/blob/develop/Documentation/porting-imx.md
However, I can not build the UEFI if I change data other than

[2019-02-27 12:19] dvescovi1 commented on #38
I think the biggest clue is the "Reset cause: WDOG"
There is a i.MX6 register that has bits set that describe why the last reset happened. This is what is displayed by u-boot here.
Could be POR (Power on Reset), software generated or the watchdog timed out and reset the processor.
Looks to me like the watchdog fired and reset the processor.
If I remember correctly the watchdog timer is uncondition

[2019-02-27 12:32] awietholter commented on #38
I believe it is not, because the message appears after load the uefi:
[code]
and then resets the board.

[2019-02-27 12:36] dvescovi1 commented on #38
Most cases (but not all) if software needs to trigger a reset it forces  "warm boot" which would show up as a different reset cause... not WDOG.

[2019-02-27 12:46] dvescovi1 commented on #38
Another thing you could test is to see if it happens at (or very near) the 16 second mark after power up.
The WDOG timer defaults to a 16 second time out unless specifically disabled. See chap 70 in the iMX6DQRM.pdf processor reference manual.

[2019-02-27 14:08] awietholter commented on #38
I searched the message:
[code]
And I found that this message forces a reset, calling the function:
do_reset() in the file reset.c.
So I believe that this is a forced reset using WDOG to do it.
But I will keep searching.
Any other ideas?
And, thanks for assist me.

[2019-02-27 17:41] jordanrh1 commented on #38
@awietholter You're on the right track searching for `ERROR: new format image overwritten - must RESET the board to recover`. I think this error is coming from u-boot. The reset is intentional by whatever code is spewing this error. The WDOG is used to reset the system; the reset reason will not give any clues.

[2019-02-27 18:29] awietholter commented on #38
Thanks @jordanrh1, I believe so too.
Do you have any clue what could be my problem?
I don't know if I generate the uefi as below could generate problems with my board, or should I generate EDK2 with my board, changing the word "Sabre" for "myboard". But in this case, I generate the errors indicating in case 1 above.

[code]
That's why I place both problems (cases) in the same issue.

[2019-02-27 19:29] jordanrh1 commented on #38
This error comes from bootm.c. It looks like there is some kind of memory overlap. Double check the memory map and make sure uefi.fit isn't overlapping with some other region of memory.

[code]

[2019-02-27 22:38] dvescovi1 commented on #37
Pretty easy to reproduce. just checkout u-boot beta branch under wsl.
install dependences and compiler.
Do the two exports to set ARCH=arm64 and the cross compiler then do:
make imx8mq_evk_nt_defconfig
make

added note:  seems to work when checked out into the users home directory … but not the general case
like /mnt/c/ms-iot/u-boot for example.

[2019-02-28 20:57] awietholter commented on #38
Hi @jordanrh1 , you are right about memory overlap.
I were calling the wrong address.
After I change the address as below, the uefi starts to load.
[code]
But I have to solve now several errors when load the uefi.

About the first case, do you have any ideas why I can't build using my edk2 platform? And not using Sabre platform?
Thank you.

[2019-03-01 13:57] dvescovi1 commented on #37
@neilsh-msft
Seems to be quite a few issues rebuilding MX8 ARM64 firmware under wsl.
Under VM it works a little better … I can get through u-boot build but still getting error building optee.

[2019-03-01 17:05] dvescovi1 commented on #37
@neilsh-msft
optee os is building.
optee trusted app is failing.

[2019-03-04 18:54] dvescovi1 commented on #37
error seem to be cenetred around defines in the wolfssl build and the file Implementation.h ... umong other things.

[2019-03-04 19:05] dvescovi1 commented on #37
also it seems strange we are building the ARM32 sample app?  Per instructions:
"pushd ~/ms-tpm-20-ref/Samples/ARM32-FirmwareTPM/optee_ta"

??

[2019-03-04 20:11] neilsh-msft commented on #37
For building, SPL it may be an issue with file name case sensitivity. I've been building it in WSL from the path /home/<user name>/... which has case sensitive paths and not from /mnt/<drive name>/... which are case insensitive.

As with the ARM32 sample app, it builds fine for ARM64.  MS Research hasn't renamed the folder yet after we asked them to support ARM64 as well.  However OpTEE does build

[2019-03-04 21:17] dvescovi1 commented on #37
Neil:
Rebuilding all now after making the minor adjustments.

Thanks for the help!

[2019-03-04 21:17] #37 closed, assigned to nobody

[2019-03-08 16:56] NovTechEng opened #44 "Windows Kernel crashing"
Hi, I am trying to get Win10 Iot Core up and running on a custom imx6s board.  So far I have gotten my board to boot to the windows nt kernel, but then it crashes.
In the DSDT.asl file I have disabled everything but include("Dsdt-iMX6Solo.asl"), include("Dsdt-Gpio.asl"), and include("Dsdt-Sdhc.asl").
I took some time and stepped through the kernel using windbg and it appears that nt_80c15000 exits

[2019-03-08 19:15] jordanrh1 commented on #44
Try disabling the PEP (`PEP0`) and the SDHC device. It should bugcheck with `INACCESSIBLE_BOOT_DEVICE`. If it doesn't reach this bugcheck, then something might be going wrong with the timer HAL extension or kernel debugger.

[2019-03-08 19:48] NovTechEng commented on #44
Alright so I disabled the PEP and SDHC device from the .asl files. I then tried to boot the board, and it again crashed but after running the bugcheck analysis it did show INACCESSIBLE_BOOT_DEVICE.
[bugcheckanalysis.txt](https://github.com/ms-iot/imx-iotcore/files/2947235/bugcheckanalysis.txt)

[2019-03-08 20:46] NovTechEng commented on #44
I re-enabled PEP and the SDHC device, and am getting the same error from bugcheck.  additionally im getting an error message that says "IOINIT: Built-in driver \Driver\sacdrv failed to initialize with status - 0xC0000037"

[windbgoutput1.txt](https://github.com/ms-iot/imx-iotcore/files/2947578/windbgoutput1.txt)

[2019-03-08 22:25] christopherco commented on #38
Hi @awietholter

Regarding the first issue, looks like gcc is complaining about a compiler parameter but from your output, the compiler commands look correct. It is very odd.

Could you upload your changes imx-iotcore and imx-edk2-platforms changes to your fork and send me pointers to them? I'd like to see if I can replicate the issue and debug from there.

Also, which environment are you building

[2019-03-08 22:37] jordanrh1 commented on #44
The IOINIT error can be ignored.

If you're getting an `INACESSIBLE_BOOT_DEVICE` bugcheck it means the system can't access the boot volume. When the debugger breaks in at the bugcheck, run `!devnode 0 1` and see what the status of the SDHC device is.

Always include !analyze output when you post about a bugcheck. It is extremely helpful.

[2019-03-11 14:42] NovTechEng commented on #44
Alright problem is fixed. My main issue was my interrupt number in the SDHC device node was wrong.
Thanks for the help.

[2019-03-11 14:42] #44 closed, assigned to nobody

[2019-03-13 08:39] cjt0701 opened #47 "Sabre_iMX6QP_1GB win10 iot boot failed"
hi all
the log as below:

Initializing 4KB of memory at 0x10817000 as the global page.
Stashed ethaddr = 00:00:00:00:00:00
1902057 bytes read in 100 ms (18.1 MiB/s)
## Loading kernel from FIT Image at 20a20000 ...
   Using 'conf-1' configuration
   Verifying Hash Integrity ... OK
   Trying 'uefi' kernel subimage
     Description:  UEFI
     Type:         Kernel Image
     Compression:  uncompresse

[2019-03-14 22:31] hbeberman commented on #47
Hi @cjt0701
It looks like UEFI is failing to see your SD card device, but it was available to SPL and U-Boot earlier. I'm unable to reproduce your issue with my MCIMX6QP-SDB (SCH-28857 REV B) with both the firmware checked into the [Sabre_iMX6QP_1GB package](https://github.com/ms-iot/imx-iotcore/tree/public_preview/build/board/Sabre_iMX6QP_1GB/) folder, and built from a clean checkout of the firmw

[2019-03-15 00:43] seanmcd-msft opened #49 "PWM controller powers on at 100% duty cycle for a couple of seconds before intializing and turning itself off."
this seems like a safety issue with the firmware :)

[2019-03-16 02:59] cjt0701 commented on #47
hi @hbeberman
 the default sd card is sd3，but i reconfig the dsc uefi，my board sd card is sd2，it still have issue. log as below
SDHC2:Error detected
SDHC2:WaitForCmdResponse() failed. Device Error
mmc0(sd2),mmc1(sd3),mmc2(emmc)

is there  a issue about hardware ?
my board is the  Sabre_iMX6QP_1GB,

CPU:   Freescale i.MX6QP rev1.1 996 MHz (running at 792 MHz)
CPU:   Automotive temperature grade (-4

[2019-03-18 06:20] cjt0701 commented on #47
hi @hbeberman
the system has booted from the sd2,the hdmi is working ,but the usb and  Ethernet interface is not working.

[2019-03-18 17:49] hbeberman commented on #47
Your first log shows that your board isn't fused with a MAC address, so Ethernet is unable to function.
You can fuse an Ethernet address onto the board using the fuse command on bank 4 works 2 and 3 in U-Boot shell.
[code]
You can stop in U-Boot shell by renaming UEFI.fit in the EFI partition of your SD card.

The OTG USB works best when a hub is plugged in during boot. After booting with a hub I'

[2019-03-19 06:26] cjt0701 commented on #47
hi @hbeberman
thank you .
the Ethernet and otg usb have worked. Is there any help about host usb?

[2019-03-19 09:26] cjt0701 commented on #47
hi @hbeberman
thank you
the Ethernet and otg usb have worked.

[2019-03-19 14:39] #47 closed, assigned to hbeberman

[2019-04-05 23:04] Perosperos opened #55 "Problem while building an Image"
Hello,
I am a very beginner with IoT Core, so maybe anyone can help me out.

I usw WIndows 10 Pro and installed WIndows ADK, WDK, WDK, Visual Studio 2017 Enterprise complety new.

I followed the instruction on: https://github.com/ms-iot/imx-iotcore.

At FFU Generation
1. Launch Visual Studio 2017 as Administrator.
2. Open the solution iMXPlatform.sln (imx-iotcore\build\solution\iMXPlatform).
3. Ch

[2019-04-06 01:48] christopherco commented on #55
Hi @Perosperos

From the error, looks like TrEEGenService.h header is missing. This header is part of a git submodule called OpteeCalls. It is located at imx-iotcore/driver/TrEE/OpteeCalls/inc/. Please check that this folder is populated.

If not, do a
[code]
and this should fetch the OpteeCalls submodule.

[2019-04-16 15:21] UweSteinkohl opened #65 "default app for ARM64 NXPEVK_IMX8M_Mini_2GB platform"

[2019-04-16 15:31] UweSteinkohl commented on #65
Hello,

when I rebuild the NXPEVK_IMX8M_Mini_2GB platform and run the image on my NXP EVK-kit the default app isn't started. Instead, I get a blue screen with a list of apps. The first item in the list is the default app, but when I click on the list element it isn't started. How can I start it?
![Screenshot_2019-04-16_07-45-28](https://user-images.githubusercontent.com/31481344/56223016-44979f80-

[2019-04-17 16:40] NovTechEng opened #66 "Headless bringup"
Hi,
I am trying to do the wint10 iot core bring up on a imx6s based custom board.  As of right now I can verify that I am booting into the windows default app.  My issue is that I cant seem to figure out a way to move forward from here.
As far as I can tell most of the ways of interacting with a headless board involve having some sort of internet connection between the board and my host computer,

[2019-04-17 23:31] neilsh-msft commented on #65
On the iMX8, the IoT Core Default App isn't part of the image, nor is it included in the IoT packages.  Currently it relies on a few Nuget packages that haven't been ported to ARM64 yet.  The first item in the list in the screenshot you included is a different application,

The IoT Core Default App has been made open source and information about the application including a link to the github repo

[2019-04-18 08:02] UweSteinkohl commented on #65
thank you for your answer. Meanwhile, I cloned the github iot core repo, added an arm64 configuration to the defaultapp and rebuild it successfully for the imx8m mini evk. thank you for your help.

[2019-04-18 15:55] #65 closed, assigned to neilsh-msft

[2019-04-24 13:42] dvescovi1 opened #71 "IoT remote server on I.MX8 mini"
I noticed I am not able to start the IoT Remote server on the i.MX8 mini.
Everything else is running so far.

Status says it is "enabled at boot but currently not running".

When I check the check box I get "Windows IoT Remote Server enabled at boot, but could not be started"

[2019-04-24 19:51] NovTechEng commented on #66
Well I made some progress.  Found out how to enable debug messages in the Ethernet driver by compiling a debug.ffu in visual studio and uncommenting some lines in dbg.h for the ethernet driver.  I progressed from there and can now successfully ping the board and I can see it on IoT Core Dashboard.  From this point I was hoping to use either PowerShell, Windows Device Portal, or Remote display to i

[2019-04-25 04:23] christopherco commented on #66
Hi @NovTechEng

Powershell, Windows Device Portal, and Remote Display features can be enabled by default when you do an FFU build. Make sure the following features are enabled in your OEMInput.xml

https://docs.microsoft.com/en-us/windows-hardware/manufacture/iot/iot-core-feature-list
* IOT_POWERSHELL
* IOT_WEBB_EXTN
* IOT_NANORDPSERVER

An example: https://github.com/ms-iot/imx-iotcore/blob/publi

[2019-04-25 04:25] christopherco commented on #55
@Perosperos checking in on this. Were you able to get the FFU to build?

[2019-04-25 06:20] Perosperos commented on #55
Hello !
thanks for the help,

all works fine!

Thanks a lot :)

[2019-04-25 06:20] #55 closed, assigned to christopherco

[2019-04-25 17:39] neilsh-msft commented on #71
The Windows IoT remote server isn't built for ARM64 devices.  Internally we want to deprecate it entirely and replace it, but that probably won't happen for 6 months to a year.  Sorry.

[2019-04-26 05:41] christopherco commented on #38
Hi @awietholter, checking in to see if you are still experiencing the build issues.

[2019-04-26 05:45] christopherco commented on #28
Hi Tommaso (@tmengicam)
Looks like we recently merged in the EVK_iMX6ULL_512MB files into the public u-boot repo.

https://github.com/ms-iot/u-boot/pull/10

Please check it out and let us know if you have any issues.

[2019-04-26 11:08] awietholter commented on #38
Hi @christopherco, sorry for late reply.
I still have the same issue. I was relocated to another project and this project was paused.
Also I have a new PC and have to made the configurations again to restart the project.
I will start today the configuration for the environment into my new PC.
About the environment, I'm using Linux Ubuntu 18.10 (in a virtual machine) to build uefi.
As soon I have a

[2019-04-26 14:36] NovTechEng commented on #66
Ok, so all those features are enabled in my OEMInput.xml as I am using the HummingBoardEdge_iMX6S build.  Despite this, none of them are working.  I cant connect to either the powershell or the remote display and although I can connect to the Windows Device Portal, the page is completely blank.  I think the latter issue might be caused by the build being headless and I am working to solve that rig

[2019-04-28 11:58] dvescovi1 commented on #71
Thanks for a straight answer.

[2019-04-28 11:58] #71 closed, assigned to neilsh-msft

[2019-04-28 12:25] dvescovi1 opened #72 "firmware build uboot SPL"
I believe I have mentioned this issue before but don't recall if it was ever resolved.
It is becoming quite annoying now.
I am building firmware under WSL.
If I create a ms-iot directory under my Linux home directory (all from within WSL) and clone everything there I can build u-boot just fine.
If I create a ms-iot directory under the C drive's mount point "/mnt/c" again totally from within WSL …

[2019-04-29 02:32] dvescovi1 commented on #72
The issue is the directory case sensitivity. I was under the impression if you did a GitHub clone in wsl that the Linux/Windows CRLF/Case sensitivity was all taken care of. I now believe this is true only for CRLF but not for case sensitivity. When you checkout and build u-boot in your wsl (Linux) home directory the "SPL" directory is created if you do the same from say /mnt/c/msiot/u-boot u-boot

[2019-05-01 05:49] christopherco opened #74 "EDK2 build failure due to Tianocore/EDK2 refactor"
Recently tianocore moved LibC and AppPkg off to a different repo called edk2-libc.
We build test applications in our edk2-platforms and since these packages are now missing, our edk2 build fails. To fix, we will need to update the applications with pointers to the new repo location and possibly split out the applications from the firmware implementation.

As a temporary workaround for this issue,

[2019-05-02 01:16] #72 closed, assigned to nobody

[2019-05-03 20:21] christopherco commented on #74
Pulled in the edk2-libc repo as a fix now. I'm also planning to remove Stdlib references from the platforms code as a whole, but that work will take some time since we do have StdLib header dependencies.

[2019-05-03 20:25] christopherco commented on #66
I'll bring up my Hummingboard Solo here to see if I can replicate the issue. In the meantime, have you tried using a USB NIC dongle to supply the ethernet? It could be that the onboard ethernet is not fully enabled/stable, which would then impact your powershell/Remote Display/WDP.

[2019-05-06 13:38] NovTechEng commented on #66
Alright so I double checked the ethernet and saw that although it could sucessfully ping, I was dropping a lot of packets due to a poor ethernet clock signal.  I fixed this issue and removed the headless config setting in UEFI and now I can successfully use powershell and the Windows Device Portal.  For some reason I still cannot connect to the remote display.

[2019-05-06 14:45] NovTechEng commented on #66
This page on Remote Display https://docs.microsoft.com/en-us/windows/iot-core/manage-your-device/remotedisplay suggests that my issue could be related to the fact that I have no display connected to the device.  To fix this it says to edit a config.txt file. I don't seem to see this file. Should I add it and if so to what partition?

[2019-05-09 07:10] #74 closed, assigned to christopherco

[2019-05-09 07:26] christopherco commented on #66
I don't see that config.txt in my setup either. config.txt looks to be a raspberry-pi specific file to inform its early bootrom of specific configs like a display parameter.

How are you configuring headless mode? Are you configuring headless mode in IoT Core using these instructions? https://docs.microsoft.com/en-us/windows/iot-core/learn-about-hardware/headlessmode
If so, then without a UI stack

[2019-05-09 07:34] christopherco commented on #28
Closing issue. Please reopen if you encounter issues building the iMX6ULL.

[2019-05-09 08:54] tmengicam commented on #28
Hi,
we have got custom board with the iMX6ULL and now we are able to boot the system. The board is very similar to the EVK_iMX6ULL_512MB so the standard u-boot and uefi are good to perform a complete boot of Windows 10 IoT Core. On our board we a have an LCD display (as on the EVK_iMX6ULL_512MB) so we try also to use the graphics. I modified the driver for iMX7 (LcdifGop), I set all the register a

[2019-05-09 14:25] NovTechEng commented on #66
I was previously configuring headless mode by including the line
`DEFINE HEADLESS = TRUE`
in my .dsc file (UEFI).  I have since removed this line and believe I am no longer running headless, I am just running without any display connected.

In the device portal homepage I do see a display resolution, but still cant use the Remote Display or the screenshot feature.

[2019-05-10 07:19] cjt0701 opened #81 "win10iot for imx8mq"
hi all
I have genetated the ffu,but i how to make a sd card boot image for imx8mq.The dash board has only support imx6/7.

[2019-05-10 07:29] christopherco commented on #81
The dashboard has not been updated to reflect i.mx8 but it is the same option as the imx6/7.

Edit: Adding a bit more background - the imx6/7 option just applies the FFU you supply to the target disk. All the BSP and OS components are present in the FFU itself. imx8 FFUs work the same way.

[2019-05-10 08:00] christopherco commented on #28
Unfortunately, I do not have access to a ULL platform. Adding @henie in case he can help here.

As far as debugging goes, you can limit the variables by first getting the display stable in the EFI environment (i.e. stable when in EFI Shell).
Does your U-Boot implementation also bring up the LCD? If so, you can try comparing the LCD registers when in U-Boot Shell vs. EFI Shell through the serial de

[2019-05-10 09:08] tmengicam commented on #28
Dear christoperco,
I cannot get the display stable in the EFI environment, after entering in the UEFI menu the display disappear.
We don't implement the LCD bring up in the U-boot but we can try to do it. In any case I believe that LCD driver in UEFI is working fine, otherwise we cannot see anything on the dispaly.
After the display disappear we can dump the LCD registers in the debug console, the

[2019-05-10 09:36] cjt0701 commented on #81
hi @christopherco
Uboot can't start, do not have any log.I am sure the boot config is sd card.The sd clk  pin has output。

[2019-05-10 18:02] christopherco commented on #81
Which iMX8M board are you using? Also what is the baud rate of your serial debug console?

[2019-05-11 00:07] dvescovi1 commented on #81
just rebuilt i.MX8M EVK image … booted fine.
Rebuilt firmware and rebuilt image … also booted fine.

[2019-05-11 01:12] christopherco commented on #66
I got my system together and am able to reproduce the blank screen when connected via Remote Display app. I do see the mouse cursor move on the local display when I move it in the Remote Client so the input side of the app still works.

* With Windows IoT Remote Server disabled in the Web Portal, I can get a screenshot of the display on the Web Portal.
* With Remote Server enabled, screenshot stil

[2019-05-11 01:39] cjt0701 commented on #81
Hi christopherco and dvescovi1

the board has booted,but the hdmi output resolution is only 720P.How do i set the output resolution with 1080P?

[2019-05-13 15:33] NovTechEng commented on #66
Unfortunately I am not having the same behavior.  With the Remote Display enabled or disabled, the screenshot feature displays a blank rectangle.  I also tried connecting to the Remote Client and pressing capture but then moving the mouse in the Remote Client window, but that still resulted in a blank screenshot.

[2019-05-13 18:11] christopherco commented on #66
Hmm, do you have headless enabled in UEFI? Screenshot feature does not work with headless mode enabled.

One quick way to check if headless is enabled in UEFI is to look at the reported Display Resolution.
* If `CONFIG_HEADLESS = TRUE`, Display Resolution is 640x480 (64Hz)
* If not headless, GOP driver reports a default Display Resolution of 1024x768 (64Hz)

Also, I have to click the "Capture" but

[2019-05-13 18:52] NovTechEng commented on #66
I do not have `CONFIG_HEADLESS = TRUE` in my .dsc file for the UEFI that I am using, yet the Display Resolution according to the Device Portal is 640x480 (64Hz).  What could be causing this behavior?

[2019-05-13 19:22] neilsh-msft commented on #81
You'd need to modify U-Boot to set the correct timing for 1080P.  You'll need to follow up on the NXP iMX8 community support https://community.nxp.com/community/imx/content.

[2019-05-13 19:37] christopherco commented on #66
It could be that you are not loading the GOP driver at all in your .dsc/.fdf. Do you have the following sections defined in your dsc/fdf?

https://github.com/ms-iot/imx-edk2-platforms/blob/df6a6a54c499ec5b42b138a7c6c7a68bbf6265e8/Platform/SolidRun/HummingBoardEdge_iMX6Q_2GB/HummingBoardEdge_iMX6Q_2GB.dsc#L54-L67

https://github.com/ms-iot/imx-edk2-platforms/blob/df6a6a54c499ec5b42b138a7c6c7a68bbf6

[2019-05-13 19:47] NovTechEng commented on #66
I am pretty sure the GOP driver is being loaded.  When I first removed the Headless config from my .dsc file the board would crash when loading that driver (I needed to turn on the clock for the IPU in uboot to fix this).  But to answer your question, yes I do have those sections in my dsc/fdf.

Here is a link to my console output from booting the board:
[Log.txt](https://github.com/ms-iot/imx-iot

[2019-05-13 20:28] christopherco commented on #66
Thank you for the log.
[code]
The GOP driver is loaded but it is erroring out during GopInitialize because it could not talk to the HDMI PHY. This error occurs just before the GOP protocol is installed so the display resolution information is never exposed for Windows to see.

It might make sense for us to provide a GopNull driver that just provides display resolution information to the OS and doe

[2019-05-13 20:53] NovTechEng commented on #66
Awesome, that definitely helped. I now have the proper resolution on the Device Portal and the Screenshot function is essentially working (Like you mentioned earlier, the first screenshot is blank. Additionally, for subsequent screenshots the preview doesn't update unless you refresh the page but the download option does have an updated image).  Unfortunately the remote display is still blank, alt

[2019-05-14 00:16] christopherco commented on #66
Good to hear that we're on the right track. I made a GopNullDxe driver that just advertises a 1920x1080 display to the OS and does not do any HW configuration. It is in PR right now (https://github.com/ms-iot/imx-edk2-platforms/pull/30) and I hope to merge it in the next couple days.

To use it, you'll need to point your platform dsc/fdf Gop description to this GopNullDxe driver.

The Remote Displ

[2019-05-14 02:50] cjt0701 commented on #81
thank you

[2019-05-14 07:37] tmengicam commented on #28
Dear all,
disabling the LCD I can start the windows boot but it stacked soon. I attached the log of windbg.
The problem seems to be related with the boot device. We are using a custom board with iMX6ULL based on the evaluation board. I already set the uSD (boot device) in the .dsc file and I configure the card detect GPIO in the  in the iMX6BoardInit.c.
Could someone help me?
[windbg01.txt](https:

[2019-05-15 03:28] christopherco commented on #28
Looks like Windows could not access the SD device. Since you were able to load Windows and get to this point, your uSDHC PADs and CLKs seem to be fine.

Which SDHC controller are you booting from? And did you update your board's ACPI tables? The EVK Dsdt-Sdhc.asl table only enables SDHC1 - https://github.com/ms-iot/imx-edk2-platforms/blob/imx/Platform/NXP/iMX6ULL_EVK_512MB/AcpiTables/Dsdt-Sdhc.asl

[2019-05-15 08:33] tmengicam commented on #28
I solved the problem selecting the right ALT function of the SDHC card detect MUX. Now the boot seems to go over and the debugger doesn't connect after the messages:
IOINIT: Built-in driver \Driver\sacdrv failed to initialize with status - 0xC0000037
KDTARGET: Refreshing KD connection
Since the LCD is not working well (see previous comments), I'm now trying to turn on the ethernet and use it to co

[2019-05-16 10:00] tmengicam commented on #28
Dear all,
I'm still trying to use the ethernet. I fuse the mac address with u-boot and I initialize the device in the iMX6BoardInit.c. Ethernet LEDs are blinking but I cannot see the board on the LAN. I even did not understand if we can finish the boot. The Windbg shows the messages in my last comment and then nothing...
How can I debug my system?

[2019-05-17 01:16] christopherco commented on #28
Best bet is to use Windbg to debug your system.

In the current headless state, to get confidence that you've finished Windows boot you can check if you've launched the IoTCoreDefaultApp.exe in Windbg.
1. Let the system run for a few minutes to allow all the processes and drivers to start up
1. Break in in Windbg
1. In Windbg, run `.reload` to load the debugging symbols
1. Dump the running process

[2019-05-17 13:08] tmengicam commented on #28
I've booted into the default application and I've rebuild the driver with DBG_MESSAGE_PRINTING but I don't understand how to see debug messages.
With the windbg I check the status of the device node (devnode) and I get:

      DevNode 0x905f0c28 for PDO 0x904f74d8
        InstancePath is "ACPI\NXP010D\0"
        ServiceName is "imxnetmini"
        State = DeviceNodeRemoved (0x312)
        Previous

[2019-05-17 14:26] mvarecha commented on #28
How to enable imxnetmini.sys debug messages
1) Uncomment lines 110, 119 and 132 in mp_dbg.h
    #define DBG_MESSAGE_PRINTING
    #define DBG_DRV
    #define DBG_ENET_DEV
2) Rebuild the driver
3) Switch OFF the board
4) Start WinDbg (Be sure the debugger will breakin at the next boot "Debug\Kernel Connection\Cycle initial break" or Ctrl+Alt+K)
5) Switch ON the board
6) Wait until debugger is connec

[2019-05-20 16:17] tmengicam commented on #28
Thank you Marek!!!
I start to debug the ENET interface. We have a LAN8710 PHY that is not in the devices list of imxnetmini so I added the device. Since it similar to the KSZ8091 I use the KSZ8091 configuration.
Now the device is UP but I got an error after the setup, "C0 D2 ENET0:MpCheckForHangEx ERROR !!!TX is hang!C0 D0 ENET0:MpCheckForHangEx ERROR !!!Requesting Reset by NDISC0 D2 ENET0:PHYDev_

[2019-05-21 00:34] christopherco commented on #10
I found the issue here. We were not advertising an internal Transaction Translator block to Windows. So Windows would only enumerate High-Speed devices. After advertising the internal TT block (via _HRV=1 in USB Device node), I was able to enumerate and use low-speed devices in Windows. See this PR for where I added _HRV https://github.com/ms-iot/imx-edk2-platforms/pull/31

Background on _HRV: htt

[2019-05-21 09:31] UweSteinkohl commented on #10
Hi Christopher,

thank you for pointing me to that solution.

regards

Uwe

Von: Christopher Co <notifications@github.com>
Gesendet: Dienstag, 21. Mai 2019 02:35
An: ms-iot/imx-iotcore <imx-iotcore@noreply.github.com>
Cc: Uwe Steinkohl <us@karo-electronics.de>; Author <author@noreply.github.com>
Betreff: Re: [ms-iot/imx-iotcore] USB devices get not recognized without external USB Hub (#10)

I foun

[2019-05-22 03:42] christopherco commented on #38
Native Linux Ubuntu 18.10 should work well for building the firmwares.

Going to close this issue for now. If you do still experience the build issue on your new setup, please hit the reopen button and add the logs.

[2019-05-22 03:42] #38 closed, assigned to christopherco

[2019-05-22 06:16] christopherco commented on #81
Closing issue for now. If you have more questions or issues, feel free to reopen if it along the same topic or post a new issue.

[2019-05-22 06:16] #81 closed, assigned to neilsh-msft

[2019-05-23 11:47] dvescovi1 opened #84 "IoT Core as an edge device?"
I am wondering if there is capability or a road map to using imx-iot core as an edge device?
I see the IoT edge run time is supported on AMD64 (desktop Windows) and some armv7 devices … I guess mostly running Linux. Wondering if ARM64 under Windows IoT core is in the (hopefully near) future? Seems like support for containers (Docker?) is required which I am not sure is even supported under the pre

[2019-05-24 07:21] tmengicam commented on #28
We solved the problem with the ENET. Now we start again to debug the LCD interface, we will keep update. If someone has some suggestions we will appreciate.

[2019-05-28 17:20] christopherco commented on #84
Can you help us understand the business opportunity?  It is on our radar, but there are a lot of dependencies required to light it up.  Details on the business opportunity would help.

[2019-05-29 14:53] tmengicam commented on #28
Dear all,
I am still working on this (annoying) problem with the LCD. I try to summarize the problem to see if someone could help us.
We are able to setup the LCD: we setup the MUX and PAD in the iMX6BoardInit.c and we build the LcdifGop driver starting from iMX7 one. During the startup the LCD is working, the framebuffer is properly configured and we are to see even the frontpage of the edk2 UiAp

[2019-05-30 05:20] christopherco commented on #28
One random idea - could your frame buffer be allocated in memory that other UEFI components could possibly write over?

This shouldn't be an issue if you are using the NoncoherentDmaLib and the DmaAllocateBuffer() call to create and reserve memory for your frame buffer but I figure I would mention this possibility since we ran into it before.

 https://github.com/ms-iot/imx-edk2-platforms/blob/924

[2019-05-31 07:04] tmengicam commented on #28
We already had a look to the allocation of the frame buffer and we change the allocation using:

were PcdFrameBufferBase point to 0x80000000.
In both case (DmaAllocateBuffer and fixed address) the result is the same.

[2019-05-31 11:15] dvescovi1 commented on #84
I do not have any immediate business opportunity. It just seems like the logical progression as edge is supported on Linux AMD64, Linux ARM32v7 and Windows AMD64. If anything, it would seem to be more relevant as an IoT core device would more likely be deeply embedded and occasionally disconnected (i.e. a drone). Looks like [AMD64 IoT core may be supported](https://docs.microsoft.com/en-us/azure/i

[2019-05-31 11:15] #84 closed, assigned to nobody

[2019-06-01 13:54] Cmac2016 opened #91 "Audio Issues"
Sorry I have been away for a bit and have not kept up o the updates.
Have the audio issues been fixed.
Previously I was told there was an issue that input and output audio could run at same time.
I need to be able to use the mic input and the speaker output on a Hummingboard at the same time.

[2019-06-01 21:38] Cmac2016 opened #92 "Build ffu"
When I try to build this I get the following error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3073	The command "
      set Configuration=Release
      set Platform=ARM
      set PkgOutput=C:\Users\chrma\Desktop\NXP\imx-iotcore-public_preview\build\solution\iMXPlatform\Build\ARM\Release\
      set OutDir=C:\Users\chrma\Desktop\NXP\imx-iotcore-public_preview\build\solut

[2019-06-04 07:48] tmengicam commented on #28
An update: when the display disappear the LCDif goes in UNDERFLOW (UNDERFLOW_IRQ_EN bit 14 of LCDIF_CTRL1n). I hope that this could help

[2019-06-05 20:11] NovTechEng opened #94 "GPIO 6"
On our IMX6S board, we are attempting to use GPIO6 as I2C3_SDA (Alt 5).  It is correctly muxed up until the windows kernel where for some reason the muxing changes (instead of 0x15 there is now 0x11).  We attempted to fix this by manually muxing the gpio in the imxgpio driver but this now leads to the board crashing. We have successful boots with only the minimal drivers (Dsdt-iMX6Solo, Dsdt-Gpio,

[2019-06-05 20:53] christopherco commented on #94
I believe you are seeing a side-effect of a workaround for an NXP errata: ERR006687
https://www.nxp.com/docs/en/errata/IMX6SDLCE.pdf

The workaround listed for the errata is to configure GPIO6 to output ENET interrupts. We implement the workaround in the PEP driver.

https://github.com/ms-iot/imx-iotcore/blob/public_preview/driver/power/imx6pep/sys/mx6dpm.cpp#L1412-L1422

Depending on your require

[2019-06-06 07:13] christopherco commented on #91
The synchronous audio capture and playback issue is still on our issues backlog.

[2019-06-06 08:28] christopherco commented on #92
I just did a completely fresh setup starting from a new "Windows 10 dev environment" Quick Create HyperV VM and was not able to reproduce these errors.

From looking through the log, it looks like you are using the very latest VS 2019 and SDK/WDK/ADK (build 18362 a.k.a. version 1903). Our instructions expect to use VS2017 and SDK/WDK/ADK version 1809 (build 17763) since these versions match the Wi

[2019-06-06 08:34] #10 closed, assigned to christopherco

[2019-06-06 08:48] christopherco commented on #28
I wonder if the panel timings are correct. Are you able to read the EDID from the panel or are you falling back to the DefaultTiming?
We have seen some panels report back incorrect timings in their EDID and it caused some unexpected display behaviors.

You could try hardcoding the expected timing settings by forcing the use of the default timing structure and changing the hardcoded values.

https:

[2019-06-06 09:14] tmengicam commented on #28
We are already forcing a fixed timing for our display. Panel timings are good.
We didn't implement the possibility to read the EDID from the panel. We don't have a panel link transmitter and we are not using part of the driver in: https://github.com/ms-iot/imx-edk2-platforms/blob/9249fd6ad62317ae9e6e7218dd70a7699f8bad31/Silicon/NXP/iMX7Pkg/Drivers/LcdifGop/LcdifBoard.c
Thanks again.

[2019-06-06 11:18] Cmac2016 commented on #92
Thank you. I will give this a try. Just as a note I can compile older versions of this repo with no problems with my current config.
Initially I did have 2017 but when I uninstalled it(thought I maybe had a corruption) I updated to vs2019.

[2019-06-06 16:23] Cmac2016 commented on #92
Unfortunately I cannot try with your method.  I am running Windows 10 Home and Hyper-V appears to not be available on Home

[2019-06-07 18:35] NovTechEng commented on #94
I deleted the PEP0 device node in my DSDT but the PEP driver is still being loaded.  Additionally, If I wish to use the GPIO6 pin for i2c will I be able to also use ethernet?

[2019-06-07 19:04] NovTechEng commented on #94
Commenting out the workaround flow in the PEP driver results in the board crashing whenever the Ethernet driver is enabled (similar to before when the muxing was being manually changed in the gpio driver).  Is there anyway to enable ethernet and still use gpio 6 for i2c with the current ethernet driver?  (I could be wrong but the errata seems to imply that ethernet can still be used without the wo

[2019-06-07 20:07] christopherco commented on #94
I too was under the expectation that ethernet can still be used without the workaround. You would just not be able to wake the system from a sleep state, which depending on your requirements could be an acceptable limitation.

Will investigate this and get back to you.

[2019-06-07 20:19] jordanrh1 commented on #94
You can't just comment out the workaround - you have to disable low power states. If you uncomment the workaround without disabling low power states, the system will not respond to ethernet interrupts in a timely manner, leading to issues. You can disable low power states by running

[code]
Try removing the GpioInt resource in the ENET device node:

https://github.com/ms-iot/imx-edk2-platforms/blo

[2019-06-07 20:41] NovTechEng commented on #94
Where should I be placing/entering that code?

I removed the GpioInt resource with both the PEP0 node removed and when manually undoing the workaround but the board still crashed with the ethernet driver enabled in both cases.

[2019-06-10 16:25] NovTechEng commented on #94
I did some additional messing with the code.  Removing the PEP0 device node causes the PEP driver to still load but it causes a fatal system error.

[PEP error.txt](https://github.com/ms-iot/imx-iotcore/files/3272880/PEP.error.txt)

[2019-06-11 00:04] christopherco commented on #94
Hi @NovTechEng

Finished my investigation.

I was mistaken earlier - the PEP is a special driver and is not loaded through the traditional ACPI way. The only way to "disable" the PEP is to not include it in the image at all. Simply deleting the DSDT node only removes its resources but the PEP will still attempt to load.

In order to achieve the behavior you are looking for, you need to do 2 things

[2019-06-11 18:35] NovTechEng commented on #94
Awesome! That worked. Thank you for the help.

[2019-06-11 18:35] #94 closed, assigned to christopherco

[2019-06-14 01:19] kiwikissling commented on #92
I'm getting a similar problem, from cmac2016's log:

Ref ^^^, I am getting the same error in my build, for the same board. The FeatureMerge appears to run, but the `...\imx-iotcore\build\board\HummingBoardEdge_iMX6Q_2GB\MergedFMs\` folder is empty.

I'm using VS2017 and have removed and reinstalled the ADK, WDK, and SDK several times. The problem must be environmental as I've built this project (a

[2019-06-14 02:23] kiwikissling opened #97 "FFU Build failing. Feature merge throws exception processing BootLoader.cab"
I've been struggling to get a build working for HummingBoardEdge_iMX6Q_2GB. This appears to be a similar problem to what `cmac2016` identified in Issue #92. On further investigation I discovered that the FeatureMerge function was failing. The log is below.
FMlog.txt shows:
[code]

Tooling:
ADK                 - 10.1.17763.1
ADK PE            - 10.1.17763.1
WDK                - 10.0.17763.1
IoT Cor

[2019-06-14 03:41] kiwikissling commented on #3
Jon Nettleton of Solid-run.com is supporting us with this issue.

[2019-06-14 03:41] #3 closed, assigned to nobody

[2019-06-14 07:35] christopherco commented on #92
I have replicated the issue and am in the process of root causing. It occurs if you have ever installed the 1903 ADK. Uninstalling and reinstalling 1809 ADK does not fix the issue.

There was a change to the ADK tools between 1809 -> 1903 that causes the FeatureMerger.exe to throw an exception when validating the input cabs. These tools to build the cabs are found in `C:\Program Files (x86)\Window

[2019-06-14 20:32] kiwikissling commented on #92
@christopherco , that's great news. You're about 2 weeks ahead of me and this knowledge has saved me lots of pain!

I notice that [Customization Guidance](https://docs.microsoft.com/en-us/windows-hardware/manufacture/iot/set-up-your-pc-to-customize-iot-core) directs us to the [Download and install the Windows ADK](https://docs.microsoft.com/en-us/windows-hardware/get-started/adk-install#winADK) pa

[2019-06-17 18:28] christopherco commented on #92
Thanks for pointing the URL out. There is a small note that says the versions must match but we really should just point the URL at the 1809 version instead of the latest ADK, which is now 1903. I'll talk with the doc owners to get that updated.

Also, I have put together steps that cleaned out and reset my environment. Please try them out and let me know if it works for you:
1. Remove all the cur

[2019-06-17 20:04] christopherco commented on #66
Unfortunately we are not making any major updates to the Remote Display Client at this time. I have queued the issue in the team's backlog but would not expect any updates in the near future.

[2019-06-17 20:05] christopherco commented on #28
Just FYI - There is a new PR to enable RGB display on the ULL https://github.com/ms-iot/imx-edk2-platforms/pull/44
Wonder if this can help you out.

[2019-06-17 23:46] kiwikissling commented on #92
@christopherco, Thanks for this guidance.  Following each step...
Step 1: Done. Manually deleted the folder
Step 2: Done.
Step 3. **Issue**. Uninstalled the WDK ok. The folder `C:\Program Files (x86)\Windows Kits\10\Tools\bin\` **wasn't** empty. There was a `..\bin\i386` folder .. which I deleted so `..\bin` would become empty
Step 4: I'm using VS2017 so didn't need to do anything here
Step 5: Don

[2019-06-18 00:06] christopherco commented on #92
For 1809, the WDK is responsible for populating the `\i386` folder. As a sidenote, the 1903 WDK no longer populates the `\i386` folder (and likely now no longer deletes it) and instead the 1903 ADK populates that folder (but with tools that don't generate valid .cab files for us ☹️ ).

I'm a bit concerned that there are still files in the `Tools\bin` folder after uninstalling the WDK.

Please conf

[2019-06-18 00:27] kiwikissling commented on #92
Yes, I have the correct WDK and ADK versions. I also have a solution (of sorts)!

Last week I started building a VM, and now have this in a working state - vs2017, correct sdk/adk/wdk, iot-imxcore etc and can build the FFU. Just now, I copied the `..bin\i386\` folder and contents back to my physical laptop, and the FFU now appears to be building ok here, ie none of the errors shown above.

I too a

[2019-06-18 15:12] tmengicam commented on #28
Great! Thank you so much. Looking the code of DachunRao I found the problem.
I developed the driver and the libraries very similar to DachunRao but I was setting the lcd_clock_enable (in https://github.com/DachunRao/imx-edk2-platforms/blob/imx/Silicon/NXP/iMX6Pkg/Library/iMX6ULLClkPwrLib/iMX6ULLClkPwr.c) with IMX6ULL_RUN_ONLY instead IMX6ULL_RUN_AND_WAIT.
Now the display is working in Windows IOT

[2019-06-19 01:30] kiwikissling commented on #97
Fixed under #92

[2019-06-19 01:30] #97 closed, assigned to nobody

[2019-06-19 04:15] kiwikissling opened #100 "Can't Get Hummingboard to Boot From eMMC"
I'm having problems getting IotCore os and default app firmware into eMMC. We are looking for ways to deploy our product into the field without having the OS and our app on SD card. The first step is to get vanilla IoT Core booting from eMMC, ie long before we add our app package

**Setup**:
- 1 old, not-familiar-with bootloder-stuff coder(!)
- Hummingboard + Edge carrier board
- Successful build

[2019-06-19 04:43] christopherco commented on #28
Great to hear display is stable now!

Regarding the Windows IoT Remote Client, unfortunately it does not work with the current i.MX+IoT Core setup. https://github.com/ms-iot/imx-iotcore/issues/66 We've filed a bug against the Remote Client but would not expect any updates in the near future.

[2019-06-20 12:38] tmengicam commented on #28
Dear all,
I'm still working on our IMX6ULL based custom board.
Now I am trying to get work the USB. Our board has an USB type A connected to the USB PHY1, like the EVK_iMX6ULL. The design of our USB is the same of the Evaluation Board so I was expecting to get it work without problems.
USB is really working on EVK_iMX6ULL?

[2019-06-20 16:07] tmengicam commented on #28
Some update:
USB keyboard is not working during the boot (UEFI) and on Windows.
On Windows "devcon" command get this error message:
administrator@MINWINPC C:\Data\Users\Administrator>devcon status *usb*
USB\ROOT_HUB20\3&3AB19331&0
    Name: USB Root Hub
    Driver is running.
USB\VID_0000&PID_0001\4&25973D74&0&1
    Name: Unknown USB Device (Port Reset Failed)
    The device has the following prob

[2019-06-20 17:20] christopherco commented on #28
Please add the following `Name (_HRV, 0x1)` to your board's Dsdt-Usb table. This will advertise the TT block to Windows and allow for low-speed device enumeration.

https://github.com/ms-iot/imx-edk2-platforms/commit/836a212a811f78549f5399cae433255e8ebad86c

[2019-07-04 00:00] christopherco commented on #100
From the output, looks like the eMMC was not provisioned while in WinPE. After a successful flash, your EFI shell should see multiple block partitions like this:
![image](https://user-images.githubusercontent.com/35273088/60631360-03817280-9db4-11e9-833a-b40550e02242.png)

To debug further, I recommend booting into WinPE again and making sure the eMMC flashing step succeeds https://github.com/ms-i

[2019-07-04 21:26] kiwikissling commented on #100
Thanks @christopherco. I will give this a try

[2019-07-04 23:47] kiwikissling commented on #100
@christopherco, This is pretty uncharted waters for me, so I'm not sure if I'm even asking the right thing.  I can confirm our SD card presents as Disk1 on my build machine.

Regarding `dism /Apply-Image /ImageFile:c:\Flash.ffu /ApplyDrive:\\.\PhysicalDrive1 /skipplatformcheck`, I worked out that this command gets baked into `startnet.cmd` on the SD card, and I presume this script is executed when

[2019-07-05 06:32] christopherco commented on #100
Overall, this can be a bit confusing. I'll try my best to explain.

The SD card gets loaded with a WinPE image. WinPE is a very lightweight Windows image and the UI is a minimal desktop UI and a command prompt. We set up a startnet.cmd to be a startup script that runs on bootup into WinPE. Dism is a executable built in the WinPE environment and is meant to provision images onto drives.

In the boo

[2019-07-10 03:07] kiwikissling commented on #100
@christopherco thanks for this detailed response. You clearly know this stuff pretty well, and I'm learning lots from you. Appreciated. I will get back to this eMMC spike shortly. Current working on an end-to-end script supporting a retail build.

[2019-07-20 00:12] kiwikissling opened #113 "Configuring Hummingboard fTPM for connection to Azure"
Our Hummingboard/iot-core efforts to-date have involved using the IOT Dashboard to build and test images. As part of this, we've used the sTMP to connect to our IoT Hub.

I'm now in the process of scripting the FFU build from top to bottom and it's time to (hopefully) move from the sTPM to the Hummingboard's fTPM. I've struggled to find good information on how to do this, and so hope that someone

[2019-07-24 22:08] dmcilvaney commented on #113
Looks like that document is indeed very specific to the Minnow Board, although the testing with t2t and urchin should work the same. I'll see about getting it updated with a note for iMX.

The modern fTPM on iMX bypasses the UEFI steps and communicates with Windows automatically.

The driver side was updated in https://github.com/ms-iot/imx-iotcore/pull/78/files, but we had a hold up on updating t

[2019-07-24 23:39] kiwikissling commented on #113
@dmcilvaney , Thanks for this. This is a journey for me... from the relatively fluffy, light world of UI apps down into very uncharted depths of UEFI and boot firmware. Evidence? I don't know what TA means :)  I may have to wait until you've been able to take a further look. Regards, Andrew

[2019-07-25 21:00] dmcilvaney commented on #113
@kiwikissling No worries, firmware is not a simple endeavor at the best of times.

**Quick question:** Are you running the pre-built firmware included in the imx-iotcore repo, or have you customized your own at all? If you have customized it I should be able to get you up and running quite quickly.

**As for TAs and OP-TEE:**
Our firmware stack goes `SPL->OP-TEE->U-Boot->UEFI->Windows`. OP-TEE is

[2019-07-25 23:27] kiwikissling commented on #113
@dmcilvaney , That's a really helpful explanation. Thank you - I've learned something today :)

Yes, I'm running pre-built firmware directly from the imx-core repo. This is work I'm doing to test the end-to-end scripting of a Retail build using off-the-shelf iMX-based hardware ... while a separate boot issue is being worked on. I have an email discussion in-play with NXP (@mvarecha ) and Microsoft

[2019-07-25 23:43] dmcilvaney commented on #113
Ok, I was planning on making a concerted effort to get the firmware updated next week, so this is extra impetus to do so.

If you are blocked and need a fast fix I think I know a work around but the best option is probably to wait on the updated firmware.

[2019-07-26 00:03] kiwikissling commented on #113
Not blocked -- I have a full backlog of independent tasks. Happy to wait. Many thanks

[2019-07-30 22:42] dmcilvaney commented on #113
## New Binaries
Working to get the binaries updated (more on that later), but here is a UEFI which should include a fixed TPM if you want to get started.

[uefi.zip](https://github.com/ms-iot/imx-iotcore/files/3448773/uefi.zip)

#### How to update
Replace the uefi.fit in [HERE](https://github.com/ms-iot/imx-iotcore/tree/public_preview/build/board/HummingBoardEdge_iMX6Q_2GB/Package/BootFirmware) wi

[2019-07-31 07:27] kiwikissling commented on #113
Many thanks for these files, and for the comprehensive explanation. I'm going to be travelling for the next three weeks ... and sneaking my IoT kit into the suitcase would be a dogbox-able offence if I was caught by my lovely wife ... so I'll have a good look at all this on my return. Cheers.

[2019-07-31 15:30] UweSteinkohl opened #117 "booting crashes on custom i.mx8M Mini platform"
after the UEFI jumped into the windows kernel itself I can see the blue windows logo and the wait cursor doing a few turns on my display. But, after a few seconds everything is freezing. Debug
output always stops at the same point (Please see the output attached).

does anybody know how to debug that?

[LOG_31_07_2019_1.txt](https://github.com/ms-iot/imx-iotcore/files/3452661/LOG_31_07_2019_1.txt)

[2019-08-03 00:24] neilsh-msft commented on #117
Generally if the output stops during boot and the device becomes unresponsive, then quite often it's because the processor attempted to read or write from a memory range of an IP block that hasn't had its clock ungated.

You can look at the devices in the DSDT ACPI tables in MU_PLATFORM_NXP\NXP\MCIMX8M_MINI_EVK_2GB\AcpiTables\Dsdt.asl or the Dsdt.asl file you're using for your platform and compare

[2019-08-13 15:17] UweSteinkohl commented on #117
I alraedy had tried method 2 before I wrote you, but without success. Now I found my fault. I used C-comments to comment out a few lines in dsdt.asl, that did not work. I found this after examining the Dsdt.iiii file in the output folder.
Meanwhile, the Windows IOT boots on my platform.
Thank you for your help.

[2019-08-13 16:57] neilsh-msft commented on #117
Good to hear you found your issue.

[2019-08-13 16:57] #117 closed, assigned to neilsh-msft

[2019-08-21 03:03] ShiaujiuanChen opened #127 "How to deploy and run applications on NXPEVK_iMX8M_Mini_2GB platform"
I'm trying to run the applications on iMX8M Mini EVK board, and having some problems

- Deploy HelloWorld UWP application, and show output as follows:

1>------ Deploy started: Project: HelloWorld, Configuration: Debug ARM64 ------
1>Error: Unable to connect to the Microsoft Visual Studio Remote Debugger named '192.168.137.124'.  The Visual Studio 2017 Remote Debugger (MSVSMON.EXE) does not appear

[2019-08-21 09:46] ShiaujiuanChen opened #128 "Problem while building flash.bin for NXPEVK_iMX8M_Mini_2GB"
Build NXPEVK_iMX8M_Mini_2GB flash.bin according to the steps of [Building and Updating Firmware for ARM64](https://github.com/ms-iot/imx-iotcore/blob/public_preview/Documentation/build-arm64-firmware.md)

Linux environment: Linux Virtual Machine

- The differences between **NXPEVK_iMX8M_Mini_2GB** and NXPEVK_iMX8M_4GB as follows:
[build_flasn_bin.txt](https://github.com/ms-iot/imx-iotcore/files/35

[2019-08-23 11:22] abdul-iwave opened #129 "Unable to boot SabreSD Quad board"
The boot is failing with the below prints.

U-Boot 2018.09-ge52dae0 (Dec 07 2018 - 17:41:28 -0800)

CPU:   Freescale i.MX6Q rev1.2 996 MHz (running at 792 MHz)
CPU:   Automotive temperature grade (-40C to 125C) at 30C
Reset cause: POR
Board: MX6-SabreSD
I2C:   ready
DRAM:  1 GiB
PMIC:  PFUZE100 ID=0x10
MMC:   FSL_SDHC: 0, FSL_SDHC: 1, FSL_SDHC: 2
No panel detected: default to Hannstar-XGA
Display:

[2019-08-23 17:17] christopherco commented on #129
Could you describe the failure you are seeing? How far into boot do you get?

This message is the Windows kernel debugger is attempting to connect over serial, which indicates you are making it into Windows. At this point, debug prints will generally stop so to get further debug info in Windows, you will want to connect Windbg.

[2019-08-23 17:24] christopherco commented on #127
Just a guess - You might be missing some dlls on the system. The failure signature is no console output. Usually the deployment would also copy over any required dlls to run your app (i.e. VC runtime dlls). If you manually copy, you must make sure any required dlls are present.

On the target system, can you run depends.exe and target your application? I believe depends.exe should be present in C:

[2019-08-24 10:35] abdul-iwave commented on #129
Hi,

Thank you for your reply.I am not familiar with the windbg. I tried to
connect the board and i am seeing the below prints:

WARNING: nt overlaps hal_8140e000
WARNING: nt overlaps hal
WARNING: kdcom overlaps nt_81693000
WARNING: kdcom overlaps nt
IOINIT: Built-in driver \Driver\sacdrv failed to initialize with status
- 0xC0000037
KDTARGET: Refreshing KD connection

I was hoping to see somethin

[2019-08-26 07:15] ShiaujiuanChen commented on #127
Hi, @christopherco ,

Thank you very much for your suggestion!

Now I can deploy HelloWorld application and output ConsoleApplication1.

Debug -> HelloWorld Properties -> Debug -> Authentication Mode: -> Select **`Universal (Unencrypted Protocol)`**

![image](https://user-images.githubusercontent.com/41414619/63671585-6884a200-c812-11e9-9897-a2694bd950a4.png)

[code]

[code]

[2019-08-26 07:15] #127 closed, assigned to nobody

[2019-08-26 07:30] abdul-iwave commented on #129
Hi,

Some times the below prints are seen in the windbg:

Opened \\.\com4
Waiting to reconnect...
Connected to Windows 10 17763 ARM (NT) Thumb-2 target at (Mon Aug 26 12:56:21.251 2019 (UTC + 5:30)), ptr64 FALSE
Kernel Debugger connection established.
Symbol search path is: srv*
Executable search path is:
Windows 10 Kernel Version 17763 MP (1 procs) Free ARM (NT) Thumb-2
Built by: 17763.253.armfre

[2019-08-26 22:05] neilsh-msft commented on #128
There are two issues:
1: ATF reserves the UART we use for boot output and kernel debugging for trust zone.  Apply the following patch to ATF:
index aa1c336e..db97553a 100644
--- a/plat/imx/imx8mm/imx8mm_bl31_setup.c
+++ b/plat/imx/imx8mm/imx8mm_bl31_setup.c
@@ -310,8 +310,8 @@ void bl31_early_platform_setup2(u_register_t arg0, u_register_t arg1,

        /* Assign M4 to domain 1 */
        mmio_wr

[2019-08-27 03:02] ShiaujiuanChen commented on #128
Hi, @neilsh-msft ,

Thank you very much.

[2019-08-27 03:02] #128 closed, assigned to neilsh-msft

[2019-08-27 05:32] christopherco commented on #129
Hi Abdul,

Those are standard prints out of Windbg. You did not get any bugchecks or breakins during the boot process. So it is entirely possible you are getting through to Windows shell but cannot view it because there is no display output.

Focusing on the no-display problem, LVDS should be configured by the GOP driver in UEFI. See [here](https://github.com/ms-iot/imx-edk2-platforms/blob/a8f2188

[2019-09-16 17:01] TGoodhew opened #135 "Issue #125 fix breaks case handling for non-mount builds"
The changes introduced in #125 break case handling for local cloned builds in WSL via /mnt/c.

The repo is to follow the clones from the firmware documentation and then change to the /mnt/c/<<imx-source>>/build/firmware/HummingBoardEdge_iMX6Q_2GB directory and run make.

[2019-09-16 17:22] dmcilvaney commented on #135
Thanks, I'll take a look at it.

[2019-09-16 17:24] TGoodhew commented on #135
Thanks.

TonyG

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Daniel McIlvaney <notifications@github.com>
Sent: Monday, September 16, 2019 10:22:40 AM
To: ms-iot/imx-iotcore <imx-iotcore@noreply.github.com>
Cc: Tony Goodhew <tony_goodhew@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [ms-iot/imx-iotcore] Issue #

[2019-09-16 17:26] TGoodhew commented on #135
Actually I can’t work around by setting the entire directory to case sensitive as that breaks the VS project ☹

TonyG

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Tony Goodhew <tony_goodhew@hotmail.com>
Sent: Monday, September 16, 2019 10:24:39 AM
To: ms-iot/imx-iotcore <reply@reply.github.com>; ms-iot/imx-iotcore <imx-iotco

[2019-09-16 17:27] dmcilvaney commented on #135
Set the /build/firmware/`<board>`/u-boot  and /build/firmware/`<board>`/optee folders to case sensitive, those are the only two which matter.

[2019-09-16 17:45] TGoodhew commented on #135
Thanks – That appears to have worked.

TonyG

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Daniel McIlvaney <notifications@github.com>
Sent: Monday, September 16, 2019 10:27:34 AM
To: ms-iot/imx-iotcore <imx-iotcore@noreply.github.com>
Cc: Tony Goodhew <tony_goodhew@hotmail.com>; Author <author@noreply.github.com>
Subject: Re

[2019-09-16 17:45] dmcilvaney commented on #135
Should be fixed in the makefile as well, it snuck past our CI since we run those in native Linux vms.

[2019-09-16 18:13] TGoodhew commented on #135
Thanks again - Verified the make file fix on my machine

[2019-09-16 18:13] #135 closed, assigned to dmcilvaney

[2019-09-18 12:51] filipvo opened #139 "Not able to re-write existing Win10 IOT core image on eMMC using WinPE."
2019-09-06 12:30:45, Error                 DISM   DISM FFU Provider: Anti-theft check failed because the machine uses legacy BIOS.
2019-09-06 12:30:45, Error                 DISM   DISM FFU Provider: PerformValidation#505 failed with 0x80070490.
2019-09-06 12:30:45, Error                 DISM   DISM FFU Provider: FfuApplyInternal#600 failed with 0x80070490.
2019-09-06 12:30:45, Error

[2019-09-25 21:44] dmcilvaney opened #142 "make-winpe.cmd does not support large (>32 GB) SD cards."
https://github.com/ms-iot/imx-iotcore/blob/8dbde2b2570da761e3c52307cbde71405d78f9fe/build/tools/make-winpe.cmd#L159 creates a partition as large as possible, but fat32 has an upper limit.

Need to also watch that a hard-coded size fits on smaller cards (ie 8GB)

[2019-09-26 22:47] neilsh-msft commented on #139
Hello filipvo,

What i.MX board are you using and what platform is your WinPE image built for?

[2019-10-02 21:08] kiwikissling opened #146 "TA Panic on boot"
I've been working with build `98186ef6` successfully. Today I pulled and built `e7161ba` and have since encountered a TA Panic on boot.

![ScoutBoot](https://user-images.githubusercontent.com/5044716/66082013-b769e800-e5c5-11e9-97a1-1e71f3f8889d.GIF)

Am I missing something in the setup/build process?

[2019-10-07 20:20] neilsh-msft commented on #146
The RPMB partition on the eMMC needs to be reset.  Apply the following change, rebuild the OpTEE firmware and boot the board once with the new image.  This should reset the RPMB partition and then the board can boot with the standard firmware.

In file /build/firmware/Common.mk
change the following setting in OPTEE_FLAGS:
from  ``CFG_RPMB_RESET_FAT=n``
to
``CFG_RPMB_RESET_FAT=y``

[2019-10-17 06:31] phispe opened #148 "Powershell on imx8m"
I tried to connect to the PowerShell, but always the connection will be refused.
Is the PowerShell missing or not fully working under ARM64?

[2019-10-22 01:46] kiwikissling commented on #146
Hi @neilsh-msft, thanks for your support. I'm a relative noob in this area, my only experience to-date being building IMX-IOTCore using VS. I have pulled https://github.com/ms-iot/optee_os. Is this the correct project, as I can't find /build/firmware/Common.mk?

[2019-10-22 22:26] kiwikissling commented on #146
@neilsh-msft, Thanks for your help here. I'm a relative noob at this stuff. My experience to-date has simply been pulling and building the imx-iotcore solution.

I found the `CFG_RPMB_RESET_FAT` setting and have changed it as suggested. I now have no idea how to build the firmware, having never done this previously. I installed GunWin32 Make, but I get loads of make errors when making `..\imx-iotc

[2019-10-22 23:02] neilsh-msft commented on #146
Our documentation for building the firmware is published [here](https://github.com/ms-iot/imx-iotcore/blob/public_preview/Documentation/build-arm64-firmware.md).  It has instructions and what tools are necessary for building the firmware.

[2019-10-23 05:23] kiwikissling commented on #146
Oh wow. What a steep learning curve.

I installed Ubuntu, went through the firmware build guidance and I got as far as installing NXP's code signing tool. I then followed the the code signing tool's `Release_Notes.txt` ... but with no luck. Some problem with OpenSSL headers which I'm still looking for. This is turning out to be a big chunk of work just to clear that RPMB store! Will keep trying, b

[2019-10-24 11:17] devgaia opened #152 "Boot hangs, probably at SPL load when booting from SD card on Compulab IoT Gateway"
We can't seem to get the device to boot from SD card. Have built both full FFU and just firmware and have had the same result which is immediate hang on boot, no output in the terminal.

This is what we've done/tried:
* Applied E2 jumper to enable boot from SD Card. Able to boot Yocto from Compulab placed on SD card.
* Built FFU using instructions in [Building the BSP](https://github.com/ms-iot/im

[2019-10-24 18:33] neilsh-msft commented on #146
Unless you're planning on implementing high assurance boot, you shouldn't need to worry about generating signed firmware using NXP's code signing tool.  By default it should just use the default test certificates.

If you make the makefile change I mentioned above and follow the directions on the building arm firmware page:  https://github.com/ms-iot/imx-iotcore/blob/public_preview/Documentation/b

[2019-10-24 18:33] neilsh-msft commented on #146
Note: I'm going to be out of office for a week starting tomorrow, so I'll ask someone to keep an eye on this thread.

[2019-10-24 18:34] neilsh-msft commented on #148
Yes, PowerShell is missing on Arm64.

[2019-10-24 23:54] neilsh-msft opened #153 "IoT Core NXP BSP Repository Support Notice"
Recently, NXP released the BSP for the iMX6, iMX7 and iMX8 processors for Windows 10 IoT.  Their web page where both the BSP and documentation can be downloaded is [here](https://www.nxp.com/design/software/embedded-software/windows-10-iot-core-for-i.mx-applications-processors:IMXWIN10IOT).  Any future support for the BSP will done in [NXP's community forums](https://community.nxp.com/community/im

[2019-10-25 00:01] neilsh-msft commented on #153
Adding owners of forks.
@ms-iot/ms-iot-self-enablement @ms-iot/nxp-iot-silicon
@bobbychen19780505 @DachunRao @gkvas @kevinmiles @kiwikissling @Jiunning @mobilesoc @mvarecha @mvinkler0 @niontive @NovTechEng @novustify @olutera1 @Schwimo  @sdabolawal  @ShiaujiuanChen @v-jush @shaojunlong @TGoodhew @bhouse-microsoft  @bhouse-microsoft
 @MHesham @jordanrh1 @mewjackie @henie @seanmcd-msft

[2019-10-30 20:26] kiwikissling commented on #146
Thanks for your help @neilsh-msft. This worked a treat, and I have saved the reset SD card as suggested

[2019-10-30 20:26] #146 closed, assigned to nobody

[2019-10-30 23:28] kiwikissling commented on #100
Hi @christopherco, after quite a break I'm back working on this. While I'm still using a Hummingboard, significantly we now have our own carrier board and are no longer using Solid-Run's 'Edge' carrier board. Our own carrier board ('Scout') had no display, and no keyboard - It's an automotive IoT device, and we've been booting from SD, loading apps etc.

Today I have worked through the [Booting Wi

[2019-11-05 21:47] christopherco commented on #100
The boot log appears to indicate you are indeed booting into Windows on both of the boots.
[code]
is the message printed from within Windows where the Windows Kernel debugger is trying to establish a connection with the host Windbg session. Usually a good sign that things are up and running successfully. And you can attach to Windbg to confirm everything is still working.

Unfortunately we do not

[2019-11-07 03:30] kiwikissling commented on #100
Hi Christopher, I may have re-represented what happened here. That boot log was from the first boot on WinPE. However I've now ended up with a (bricked?) SOM.

Regardless of how the boot jumpers are configured, it won't boot without a SD inserted, and it won't boot with a SD card inserted (generic IoT Core build). I've gone back to doing all on Solid Run's OEM carrierboard known a 'Edge' to remove